{
  "*.{md,json}": [
    "prettier --cache --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --cache --write"
  ],
  "*.{css,less,scss}": [
    "stylelint --fix",
    "prettier --cache --write"
  ]
}
